.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: whitesmoke;
}

/*---------------------------NAVBAR-------------------*/
.NavBarStyle {
  background-color: black;
}

.logoStyle {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.iconStyle {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.cartStyle {
  width: 35px;
  height: 35px;
  color: white;
  margin-right: 10px;
}

.elementsCartStyle {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.linkStyle {
  display: flex;
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.numberCartStyle {
  color: white;
  text-decoration: none underline;
}
/*-------------------------------------------------------*/

/*---------------------ESTILO CARDS-----------------------*/
.cardStyle {
  display: flex;
  align-items: center;
  margin: 18px;
}

.imageCardStyle {
  height: 30rem;
}

.textCardStyle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cardItemStyle {
  margin: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*-------------------------------------------------------*/

/*-----------------ESTILO CARDS DETAIL-------------------*/
.imageStyle {
  /*height: 40rem;
  width: 25rem;*/
  width: 25%;
  border-radius: 4px;
  margin-right: 20px;
}

.numberQuantityStyle {
  margin-left: 5px;
  margin-right: 5px;
  /*font-weight: bold;*/
  font-size: large;
}

.textDetailStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
/*-------------------------------------------------------*/

/*----------------------BOTONES-------------------------*/
.buttonStyle {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #0d6efd;
  color: white;
  border-style: solid;
  border-color: #0d6efd;
}

.buttonsOrder {
  display: flex;
  align-items: center;
}

.buttonCartStyle {
  border-radius: 5px;
  height: 35px;
  margin-left: 30px;
  background-color: #0d6efd;
  color: white;
  border-style: solid;
  border-color: #0d6efd;
}
/*-------------------------------------------------------*/

/*-----------------------CART----------------------------*/
.cartDetailStyle {
  margin-top: 20px;
}

.textCartStyle {
  size: 1rem;
}
/*-------------------------------------------------------*/

/*-----------------------FOOTER--------------------------*/
.footerStyle {
  margin-top: 20px;
  height: 10rem;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.footerStyleText {
  color: white;
}
/*------------------------------------------------------*/
