.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: whitesmoke;
}

.cartStyle {
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
}

.logoStyle {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.iconStyle {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.linkStyle {
  font-size: 1.2rem;
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

.cardStyle {
  margin: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textCardStyle {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.imageCardStyle {
  height: 30rem;
}

.footerStyle {
  margin-top: 20px;
  height: 10rem;
  background-color: black;
  display: grid;
  justify-content: center;
  align-items: flex-end;
}

.footerStyleText {
  color: white;
}

.buttonStyle {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.buttonsOrder {
  display: flex;
  align-items: center;
}

.numberQuantityStyle {
  margin-left: 5px;
  margin-right: 5px;
}
