body {
  background-color: whitesmoke;
}

/*---------------------------NAVBAR-------------------*/

.logoStyle {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.iconStyle {
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

.cartStyle {
  width: 35px;
  height: 35px;
  color: white;
  margin-right: 10px;
}

.elementsCartStyle {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.linkStyle {
  display: flex;
  font-size: 1.2rem;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.numberCartStyle {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
/*-------------------------------------------------------*/

/*---------------------ESTILO CARDS-----------------------*/
.cardStyle {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin: 18px;
}

.imageCardStyle {
  height: 30rem;
}

.textCardStyle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*-------------------------------------------------------*/

/*-----------------ESTILO CARDS DETAIL-------------------*/
.imageStyle {
  /*height: 40rem;
  width: 25rem;*/
  width: 25rem;
  height: 40rem;
  border-radius: 6px;

  margin-right: 20px;
}

.cardItemStyle {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.numberQuantityStyle {
  margin-left: 5px;
  margin-right: 5px;
  /*font-weight: bold;*/
  font-size: large;
}

.textDetailStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
/*-------------------------------------------------------*/

/*----------------------BOTONES-------------------------*/
.buttonStyle {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #0d6efd;
  color: white;
  border-style: solid;
  border-color: #0d6efd;
}

.buttonsOrder {
  display: flex;
  align-items: center;
}

.buttonCartStyle {
  border-radius: 5px;
  height: 35px;
  margin-left: 30px;
  background-color: #0d6efd;
  color: white;
  border-style: solid;
  border-color: #0d6efd;
}
/*-------------------------------------------------------*/

/*-----------------------CART----------------------------*/
.cartDetailStyle {
  margin-top: 20px;
}

.textCartStyle {
  size: 1rem;
}
/*-------------------------------------------------------*/
